* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}


body {

    font-family: Arial, sans-serif;
    margin: 20px;
}




header {
    
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
}


.navbar {
    position: sticky;
    top: 0;
    background-color: #333;
    display: flex;
    justify-content: center;
}

.navbar a {
    color: white;
    padding: 25px;
}

.navbar a:hover {
    background-color: #555;
}


.content {
    padding: 20px;
}

.content p {
    margin-bottom: 40px;
    line-height: 1.5;
}
