*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.topic{

  background-color: rgb(152, 152, 197);
  padding: 10px;
  
}