* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 30px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

/* CSS Grid */
.team-container {
    display: grid;

    /* Automatically adjusts according to screen size */
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));

    gap: 25px;
    max-width: 1200px;
    margin: auto;
}

/* Member Card */
.card {
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.card img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.card h2 {
    margin-bottom: 8px;
}

.card p {
    color: #666;
}

/* Hover effect */
.card:hover {
    transform: translateY(-5px);
    transition: 0.3s;
}